@import 'tailwindcss';

html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
}

@theme {
  --breakpoint-xs: 515px;
  --color-primary: #232d4f;
  --color-secondary: #787878;
  --color-error: #e30000;
}

body {
  font-family: Montserrat, Helvetica, sans-serif;
  background-color: #fafafa;
}
